{% extends 'base.html' %}
{% block content %}

      <div class="jumbotron" style="background-image: url(https://c1.staticflickr.com/9/8251/8526271172_06780037cc_b.jpg); background-size: cover; height: 600px">
        <div class="container" style="margin-top: 40px">
          <h1 style="color:#e8e8e8;" align="center"><strong>PUPPIES</strong></h1>
        </div>
      </div>  

    <div class="container marketing">
      <div class="row featurette" style="margin-top: 50px">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color:#191970">Welcome!</h2>
          <p class="lead">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Maltese_puppy_blue_bow.jpg" alt="maltese">
        </div>
      </div>

      
      <div class="row featurette" style="margin-top: 50px">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading" style="color:#191970">Things!</h2>
          <p class="lead">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="https://upload.wikimedia.org/wikipedia/commons/7/71/St._Bernard_puppy.jpg" alt="Bernard">
        </div>
      </div>


      <div class="row featurette" style="margin-top: 50px">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color:#191970">More Things!</h2>
          <p class="lead"> Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="https://c1.staticflickr.com/5/4046/4215831807_5c59dd85af.jpg" alt="golden" style = "height:400px">
        </div>
      </div>              
    </div>  

{% endblock %}