{% extends 'base.html' %}
{% block content %}

      <div class="jumbotron" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/30/Boston_Skyline%2C_SONY_NEX-5_Panorama_Mode_%284765830049%29.jpg); background-size: cover; height: 600px">
        <div class="container" style="margin-top: 40px">
          <h1 style="color:#e8e8e8;" align="center"><strong>Safer Food For Boston</strong></h1>
        </div>
      </div>  

    <div class="container marketing">
      <div class="row featurette" style="margin-top: 50px">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color:#191970">Welcome</h2>
          <p class="lead">asdf</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Maltese_puppy_blue_bow.jpg" alt="maltese">
        </div>
      </div>

      
      <div class="row featurette" style="margin-top: 50px">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading" style="color:#191970">Section 2</h2>
          <p class="lead">asdf</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="https://upload.wikimedia.org/wikipedia/commons/7/71/St._Bernard_puppy.jpg" alt="Bernard">
        </div>
      </div>


      <div class="row featurette" style="margin-top: 50px">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color:#191970">Section 3</h2>
          <p class="lead">asdf</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="https://c1.staticflickr.com/5/4046/4215831807_5c59dd85af.jpg" alt="golden" style = "height:400px">
        </div>
      </div>                

	 <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </section>        

{% endblock %}